.check {
  position: relative;
  margin: 0 0 160px 40px;
  &__img {
    width: 874px;
  }
  .payment {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    margin-left: 40px;
    &__title {
      color: #A0A0A0;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;
    }
    &__price {
      font-weight: 700;
      font-size: 84px;
      line-height: 1.2;
      color: #34343E;
      margin-bottom: 40px;
      &_penny {
        font-size: 48px;
        line-height: 79px;
      }
    }
    &__method {
      font-weight: 600;
      font-size: 44px;
      line-height: 64px;
      color: #00923A;
    }
  }
}